input{
    margin-bottom: 30px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid black;
    padding-left: 10px;
    font-size: 20px;
}

input:focus, button:focus{
    outline: none;
}

input[type='submit']{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

label{
    display: block;
}

.wrapper{
    display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: space-around;
}

form{
    display: inline-block;
}

.bd_button_wrapper{
    display: inline-block;
    padding-top:50px;
}

button, input[type='submit']{
    cursor: pointer;
}

.bd_button{
    padding: 20px;
    border-radius: 100px;
    border: 2px solid black;
}

.crud_wrapper{
    display: flex;
    justify-content: center;
}

.crud_table{
    table-layout: fixed;
}


td{
    text-align: center;
    width: calc(100%/5);
    border-bottom: 2px black solid;
    padding: 30px;
}

.edit_crud_button, .delete_crud_button, .add_crud_button{
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.crud_buttons{
    border: none;
}

.delete_crud_button{
    background-color: red;
    border: none;
}

.edit_form_wrapper, .add_form_wrapper{
    display: flex;
    justify-content: center;
}

.edit_page_edit_button{
    background-color: green;
    color: white;
    border: none;
}

.add_crud{
   background-color: greenyellow;
}